.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }

img.listViewIcon
{
    width: 32px;
    float: left;
    height: 32px;
}
div.listViewTextMain
{
    font-weight: bold;
    margin-left:40px;
}
div.listViewTextSub
{
    font-size:75%;
    margin-left:40px;
}
div
{
    color:white;
}

div.Header1
{
    font-size: 250%;
    font-weight: bold;
}

div.Header2
{
    font-size: 150%;
    font-weight: bold;
}

div.SubItem
{
    font-size:75%;
    font-style:italic;
    margin-left:25px;
}

#grad
{ 
    background: linear-gradient(0deg,#3B97B3, #85B6D4);
}

body 
{
    background: linear-gradient(0deg,#3B97B3, #85B6D4);
}
#appDrawer
{ 
    background: linear-gradient(0deg,#3B97B3,#85B6D4);
}

span.pageTitle
{
    color:#FFFFFFF;
}

a:link
{
    color:#FFFFFFF;
}