.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }


div.listViewTextMain
{
    font-weight: bold;
    margin-left:40px;
    font-size: 17px;
    font-size: 1.75vw;
}
div.listViewTextSub
{
    font-size: 15px;
    font-size: 1.5vw;
    margin-left:40px;
}
div
{
    color:white;
}

div.Header1
{
    font-size: 30px;
    font-size: 3.5vw;    
    font-weight: bold;
}

div.Header2
{
    font-size: 20px;
    font-size: 2.0vw;
    font-weight: bold;
}

div.SubItem
{
    font-size: 20px;
    font-size: 2.0vw;
    font-style:italic;
    margin-left:25px;
}

div.detailsPage
{
    margin-left:10px;
}

#drawerHead
{
    background-color: rgba(0,0,0,0.20);    
}

#drawerBody
{    
    background-color: rgba(0,0,0,0.10);    
}

#grad
{ 
    background: linear-gradient(0deg,#3B97B3, #85B6D4);
}

body 
{
    background: linear-gradient(0deg,#3B97B3, #85B6D4);
}
#appDrawer
{ 
    background: linear-gradient(0deg,#3B97B3,#85B6D4);
}

span.pageTitle
{
    color:#FFFFFFF;
}

a:link
{
    color:#FFFFFFF;
}