
<!--<script type="text/x-kendo-template" id="pbs-template">
    <a data-bind="click: details_pbs">
        <div>        
        	<img data-bind="attr: {src:Icon_URL}" id="logo" class="listViewIcon" onerror="if (this.src != './Images/defaultPBS.png') this.src = './Images/defaultPBS.png';"/>   
            <div class="listViewTextMain" data-bind="text: Name"></div>
            <div class="listViewTextSub" data-bind="text: Type"></div>
        </div>        
    </a>
</script>-->

<!--<script type="text/x-kendo-template" id="tag-template">
    <a data-bind="click: details_tag">
        <div style="overflow: hidden;">
        	<img data-bind="attr: {src:Icon_URL}" id="logo" class="listViewIcon" onerror="if (this.src != './Images/defaultTag.png') this.src = './Images/defaultTag.png';"/>
            <img src="./Images/Plant.png" />
            <div class="listViewTextMain" data-bind="text: Name"></div>
            <div class="listViewTextSub" data-bind="text: Classification"></div>
        </div>
    </a>
</script>-->