<div data-role="view" data-title="Details" data-layout="main" data-reload="true" data-show="showPBSItemDetail" >
    <div id="pbsItemContent" class="detailsPage">
        <div class="Header1" data-bind="text: name"></div>
        <div class="Header2">Type</div>
        <div class="SubItem" data-bind="text: type"></div>
        <div class="Header2">Tags</div>
        <ul data-role="listview" data-style="inset" data-template="tag-template" data-bind="source: pbsItemTags"></ul>
        <div class="Header2">Children</div>
        <ul data-role="listview" data-style="inset" data-template="pbs-template" data-bind="source: children "></ul>
    </div>
</div>



<script type="text/x-kendo-template" id="pbs-template">
    <a data-bind="click: details_pbs">
        <div>        
        	<img data-bind="attr: {src:Icon_URL}" id="logo" class="listViewIcon" onerror="this.src = './Images/defaultPBS.png';"/>   
            <div class="listViewTextMain" data-bind="text: Name"></div>
            <div class="listViewTextSub" data-bind="text: Type"></div>
        </div>        
    </a>
</script>

<script type="text/x-kendo-template" id="tag-template">
    <a data-bind="click: details_tag">
        <div style="overflow: hidden;">
        	<img data-bind="attr: {src:Icon_URL}" id="logo" class="listViewIcon" onerror="this.src = './Images/defaultTag.png';"/>
            <!--<img src="./Images/Plant.png" />-->
            <div class="listViewTextMain" data-bind="text: Name"></div>
            <div class="listViewTextSub" data-bind="text: Classification"></div>
        </div>
    </a>
</script>