<div data-role="view" data-title="Details" data-layout="main" data-model="pbsItem" data-reload="true" data-show="PBSItemDetail.show">
    <div id="pbsItemContent">
        <div class="Header1" data-bind="text: name"></div>
        <div class="Header2">Type</div>
        <div class="SubItem" data-bind="text: type"></div>
        <div class="Header2">Tags</div>
        <ul data-role="listview" data-style="inset" data-template="tag-template" data-bind="source: pbsItemTags"></ul>
    </div>
</div>
<script type="text/x-kendo-template" id="tag-template">
	
    <a data-bind="click: details_tag">
        <div style="overflow: hidden;">
        	<img data-bind="attr: {src:Icon_URL}" id="logo" class="listViewIcon" onerror="if (this.src != './Images/defaultTag.png') this.src = './Images/defaultTag.png';"/>
            <!--<img src="./Images/Plant.png" />-->
            <div class="listViewTextMain" data-bind="text: Name"></div>
            <div class="listViewTextMain" data-bind="text: image_url"></div>
            <div class="listViewTextSub" data-bind="text: Classification"></div>
        </div>
    </a>
</script>
<script type="text/x-kendo-template" id="image-template">
</script>